*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: #f0f0f0;
    margin: 0px;
    padding: 0px;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    color:black;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.logo {
    height: 60px;
    width: 120px;
}
.nav-links{
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: black;
}
.nav-links a {
    text-decoration: none;
    color: black;
}
.nav-links a:hover{
   color: rgb(39, 39, 231);
}
.nav-links a:active{
    text-decoration: underline;
}
.dark-mode-toggle {
    font-size: 24px;
    cursor: pointer;
    color: black;
    transition: color 0.3s;
}
.dark-mode-toggle:hover {
    color: #555;
}
.hamburger-menu{
    display: none;
    font-size: 28px;
    cursor: pointer;
}
.hamburger-menu i:hover{
    color: rgb(39, 39, 231);
     transform: scale(1.1);
      filter: drop-shadow(20px black);
       transition: all linear 0.3s;
}
@media (max-width:763px) {
    .nav-links{
        display: none;
    }
    .hamburger-menu{
        display: block;
    }
}

.sidebar{
   
    display: none;
    height: 460px;
    width: 200px;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    display: none;
    flex-direction: column;
    padding-top: 65px;
    gap: 10px;
    background-color:rgba(255, 255, 255, 0.5);
    border-radius: 0px 0px 0px 15px ;
    transition:all linear 0.5s;
    backdrop-filter: blur(10px);
    
 
}
.cancel{
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 25px;
    cursor: pointer;
    color: black;
    z-index: 2100;

}
.cancel i:hover{
    color: rgb(39, 39, 231);
     transform: scale(1.1);
      filter: drop-shadow(20px black);
       transition: all linear 0.3s;
}
.sidebar-links{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sidebar-links a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 20px;
    border: 1px solid transparent;
    width: 100%;

}
.sidebar-links a:hover{
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    color: rgb(39, 39, 231);
    transition: all linear 0.3s;
    transform: translateY(-7px);
  
}
.hero-section{
    background:linear-gradient(135deg, #667eea, #764ba2); 
    height: 85vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #f0f0f0;
    gap: 25px;
    padding: 10px;
}
.hero-section h1{
    font-size:  48px;
    font-weight: 700;
    text-align: center;
}
.hero-section p{
    font-size: 20px;
}
.hero-section button{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #0e35e4;
    color: white;
    cursor: pointer;

}
.hero-section button a{
    color: #f0f0f0;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}
@media (max-width:763px) {
    .hero-section h1{
        font-size: 40px;
        text-align: center;
    }
    .hero-section p{
        font-size: 16px;
        text-align: center;
        padding: 0px 10px;
    }
    .hero-section button{
        padding: 8px 16px;
        font-size: 16px;
    }
    
}

.feature-courses-container{
    display: flex;
   justify-content: center;
   flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    gap: 30px;
    background-color: #f8fafc;
}
.feature-courses-container h1{
    width: 100%;
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}
.feature-card-container{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    width: 100%;
}
.feature-course-card{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    overflow: hidden;
    padding: 20px 25px;
   display: flex;
  flex-direction: column;
  justify-content: space-between; 
  height: 100%; 

}
.feature-course-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.feature-course-card h2{
    font-size: 24px;
    margin-bottom: 10px; 
}
.feature-card-content{
    display: flex;
   flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}
.feature-course-card p{
    font-size: 16px;
    color: #555;
    flex-grow: 1;
}
.feature-course-card ul{
    list-style-type: none;
   display: flex;
   gap: 15px;
    padding: 0px;
}
.feature-course-card ul li{
   color: #555;
   font-weight: 500;
    border-radius: 5px;
    font-size: 14px;
}
.btn-container{
   padding: 10px 0px;
}
.btn-container button{
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid #2563eb;
    color: #2563eb;
    background-color: white;
    cursor: pointer;

}
.btn-container button a{
    text-decoration: none;
    color: #2563eb;
    font-weight: 500;
    font-size: 17px;
}
.btn-container button:hover{
    transition: all linear 0.3s;
    background-color: #2563eb;
    color: white;
}
.btn-container button:hover a{
     transition: all linear 0.3s;
    color: white;
}
@media (max-width: 1000px) and (min-width: 764px) {
    .feature-course-card{
        width: 45%;
    }
}
@media (max-width: 763px) {
    .feature-course-card{
        width: 100%;
    }
}

.feedback-container{
    display: flex;
   justify-content: center;
   flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    gap: 30px;
    background-color:#ffffff;
}
.feedback-container h1{
    width: 100%;
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}
.feedback-cards-container{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.feedback-card{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #f8fafc;
    padding:30px 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width:30%;  
    border-left: 5px solid #2563eb;
}
.feedback-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}
.feedback-card p{
    font-size: 16px;
    font-style: italic;
    flex-grow: 1;
}
.feedback-card .student-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10px;
    gap: 5px;
}
.student-info h3{
    font-size: 16px;
    margin: 0px;
}
.student-info span{
    font-size: 14px;
    color: #555;
}
@media (max-width: 1000px) and (min-width: 764px) {
    .feedback-card{
        width: 45%;
    }
}
@media (max-width: 765px) {
    .feedback-card{
        width: 100%;
    }
}
.footer{
    background-color: rgb(17 24 39);
    color: white;
    text-align: center;
    padding: 20px 10px;
   width: 100%;
   
}
.footer-content{
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(96, 97, 98);
}
.codeup-info{
    display: flex;
    flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start; 
}
.codeup-info p{
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}
.footer-logo{
    width: 50px;
    cursor: pointer;
    height: auto;
}
.footer-logo:hover{
      transform: scale(1.06);
    transition: all linear 0.3s;
}
.footer-links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:6px
}
.footer-links a{
    text-decoration: none;
    color: rgb(156 163 175);
    font-weight: 400;
}
.footer-links a:hover{
    color: #ffffff;
      transform: scale(1.04);
    transition: all linear 0.3s;
}
.footer h3{
    font-size: 15px;
    font-weight: 700;
}
.social-media{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    
}
.social-links{
    display: flex;
    gap: 10px;
    color: rgb(156 163 175);
}
.social-links a{
    text-decoration: none;
    color: rgb(156 163 175);
    font-size: 20px;
}
.social-links a:hover{
    color: #ffffff;
    transform: scale(1.04);
    transition: all linear 0.3s;
}
.copy-right{
    color: rgb(156 163 175);
    font-size: 16px;
    font-weight: 400;
    padding: 20px;
}
@media (max-width:723px) {
    .footer-content{
        flex-direction: column;
        gap: 25px;
        justify-content: start;
        align-items: start;
        padding: 10px 20px;
    }
    
}